<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js?_ga=2.219453403.379973601.1555660325-92645605.1555440134"></script>
    <title>Murders Analytics</title>
</head>

<body>
    <div id="app">
        <section class="section">
            <div class="container" id="main">
                <h1 class="title">
                    <i class="fas fa-search"></i>
                    Murders Analytics
                </h1>
                <p class="subtitle">
                    Analytics about murders related data.
                </p>
            </div>

            <div class="content">
                <button class="button is-small is-link"
                    :disabled="activePage === 'homicides'"
                    @click="activePage='homicides'">Homicides</button>

                <button class="button is-small is-link"
                    :disabled="activePage === 'culture'"
                    @click="activePage='culture'">Political culture</button>

                <button class="button is-small is-link"
                    :disabled="activePage === 'combined'"
                    @click="activePage='combined'">Combined</button>

                <div class="columns">
                    <div class="column is-3 filters">
                        <div class="title is-6">Select countries</div>
                        <div class="country-select-form">
                            <div class="country-select-entry" v-for="country in countries">
                                <input type="checkbox" :id="country.id" :value="country.id" v-model="checkedCountries" />
                                <label :for="country.id">{{ country.name | capitalize }}</label>
                            </div>
                        </div>

                        <div class="select is-rounded" style="margin-top: 5%;">
                            <select v-model="chartType">
                                <option value="bar">Bar chart</option>
                                <option value="scatter">Line chart</option>
                            </select>
                        </div>

                        <div class="select is-rounded" style="margin-top: 5%;">
                            <select v-model="startYear">
                                <option v-for="year in availableYears" :value="year">{{ year }}</option>
                            </select>
                        </div>

                        <div class="select is-rounded" style="margin-top: 5%;">
                            <select v-model="endYear">
                                <option v-for="year in availableYears" :value="year">{{ year }}</option>
                            </select>
                        </div>

                        <div class="select is-rounded" style="margin-top: 5%;">
                            <select v-model="yearsGroup">
                                <option value="">No years group</option>
                                <option value="5">5 years group</option>
                                <option value="10">Decades group</option>
                                <option value="15">15 years group</option>
                                <option value="20">20 years group</option>
                            </select>
                        </div>
                    </div>

                    <div class="column">
                        <div class="page" id="homicides" v-show="activePage === 'homicides'">
                            <div class="title is-4 has-text-centered">Homicides</div>
                            <div class="subtitle is-6 has-text-centered">Homicides analytics</div>    
                            <div id="homicides-chart" class="column"></div>
                        </div>

                        <div class="page" id="culture" v-show="activePage === 'culture'">
                            <div class="title is-4 has-text-centered">Political culture</div>
                            <div class="subtitle is-6 has-text-centered">Compare political culture of countries</div>    
                            <div id="culture-chart" class="column"></div>
                        </div>

                        <div class="page" id="combined" v-show="activePage === 'combined'">
                            <button class="button is-small is-primary" @click="createCombinedChart">
                                <i class="fas fa-sync"></i>
                                <div style="margin-left: 5px;">Refresh chart</div>
                            </button>
                            <div class="title is-4 has-text-centered">Political culture & Homicides</div>
                            <div class="subtitle is-6 has-text-centered">
                                Compare political culture based on homicides of countries
                            </div>
                            <div id="combined-chart" class="column"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="app.js"></script>
</body>

</html>